.registro-usuario {
  &__container {
    width: 60%;
  }
  &__title {
  }
  &__form {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    & div {
      &:last-child {
        grid-column: 1/2;
      }
    }
  }
}
