.button {
  cursor: pointer;
  background-color: $secondary-color;
  border: none;
  color: #fff;
  padding: 1.8rem 3.2rem;
  transition-property: background-color;
  transition-duration: 0.8s;
  outline: none;
  &:hover {
    background-color: $primary-color;
  }
}
.button-submit {
  cursor: pointer;
  background-color: $secondary-color;
  border: none;
  color: #fff;
  padding: 1.8rem 3.2rem;
  transition-property: background-color;
  transition-duration: 0.8s;
  outline: none;
  &:hover {
    background-color: $primary-color;
  }
}
