.notificacion {
  &--error {
    background-color: #dc3545;
    display: flex;
    align-items: center;
    position: fixed;
    top: 40%;
    transform: translateY(-50%);
    right: 2rem;
    color: #fff;
    border-radius: 1rem;
    padding: 1.5rem;
    z-index: 20;
    & svg{
      font-size: 2.5rem;
      margin-right: .8rem;
    }
    &__text{
      
    }
  }
}
